.header {
  position: fixed;
  top: 0;
  left: var(--sidebar-width);
  right: 0;
  height: var(--header-height);

  background: white;

  border-bottom: 1px solid var(--border);

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 28px;

  z-index: 100;
}

.header-title h1 {
  font-size: 24px;
}

.header-title p {
  color: var(--text-secondary);
  font-size: 14px;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 18px;
}

.health {
  padding: 8px 14px;
  border-radius: 30px;
  background: #ecfdf5;
  color: var(--success);
  font-weight: 600;
}

.avatar {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: var(--primary);
  color: rgb(30, 27, 68);

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 600;
}